<% if @posts.any? %>
    <% @posts.each do |post| %>
      <h3><%= post.title %></h3>
      <h3><%= post.url %></h3>
      <h3><%= post.description %></h3>
    <% end %>
<% else %>
  <h2>No one has posted a frog joke yet :(</h2>
<% end %>